<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/app.html#employee">
            Employees
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/app.html#employee">
                        List
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/app.html#tasks">
                        Tasks
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="app">
    <div class="container my-5">
        <h1>{{ endpoint }}</h1>

        <table class="table mt-5">
            <tr>
                <th>Name</th>
            </tr>
            <tr v-for="item in items">
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Name" v-model="item.name">

                        <button class="btn btn-primary" @click="update(item)">
                            Update
                        </button>

                        <button class="btn btn-danger me-3" @click="remove(item)">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <form @submit="add">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Name" v-model="name">
                            <button class="btn btn-outline-secondary" type="submit">
                                Add
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="main.js"></script>
</body>
</html>